.editForm{
    position: fixed;
    left: 45%;
    top:40% ;
    transform: scale(0);
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    transition: 0.3s;
    color: black;
    text-align: center;
    .fa-xmark{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 18px;
    }
    input{
        height: 30px;
        border-radius: 8px;
        border: 1px solid gray;
    }
    button{
        margin-top: 20px;
        padding: 5px 10px;
        border-radius: 5px;
    }
}
.active{
    transform: scale(1);
    transition: 0.3s;
}